@import url('reset.css');
@import url('header.css');
@import url('footer.css');

.main-screen {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    min-width: 1100px;
    position: relative;
    padding-top: 100px;
}
.slider-container{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    position: relative;
    width: 100%;
}
.slider {
    overflow: hidden;
    /* width: 50%; */
    max-width: 800px;
    position: relative;
}
.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider img {
    width: 50%;
    object-fit: cover;
}
.slider-button {
    height: 100%;
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
}
.slider-button.left {
    left: 10px;
}
.slider-button.right {
    right: 10px;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 920px;
    background-color: white;
    padding: 30px 0px;
    box-sizing: border-box;
}
.store-title-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 30px;
}
.store-title-rating{
    display: flex;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 16px;
}
.store-rating{
    color: #FF6A00;
}
.store-category-container{
    display: flex;
    margin-bottom: 16px;
}
.store-category{
    color: white;
    padding: 8px 12px;
    background-color: #FF6A00;
    border-radius: 30px;
    margin-right: 8px;
}
.review-count a, .review-count i{
    color: grey;
}

.store-description-container,
.review-list-container,
.review-write-container{
    border: 1px solid #aeaeae;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
}
.store-description-container h1,
.review-list-container h1{
    font-size: 20px;
    font-weight: 700;
}
.store-description-container p{
    margin-top: 20px;
}
.review-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}
.review-title h1{
    font-size: 20px;
    font-weight: 700;
}
.review-list-container .review-title a{
    color: #FF6A00;
    font-weight: 700;
    cursor: pointer;
}
.review-list-container .review-list{
    border-top: 1px solid #aeaeae;
}
.review-item-container{
    padding-top: 20px;
    margin-bottom: 20px;
}
.review-item-title{
    display: flex;
    width: 20%;
    justify-content: space-between;
}
.review-item-title #nickname{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.review-item-title .rating i{
    color: rgba(250, 208, 0, 0.99);
}
/* rating form */
#rating-form .rating-field{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#rating-form .rating-field .star-rating{
    margin-right: 10px;
}
#reviewContents {
    width: 100%;
    height: 250px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
}
#rating-form input[type=submit]{
    width: 100%;
    border: none;
    padding: 15px 0px;
    color: white;
    font-size: 1em;
    font-weight: 600;
    background-color: #FF6A00;
    border-radius: 10px;
}
#rating-form input[type=submit]:disabled{
    background: #aeaeae;
    color: black;
}
.star-rating span {
    font-size: 2em;
    cursor: pointer;
    color: lightgray;
}

.star-rating span.selected {
    color: gold;
}

.star-rating span:hover,
.star-rating span:hover ~ span {
    color: gold;
}