body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
a{
    text-decoration: none;
}
a:visited{
    color: blue;
}

.login_container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.input_group {
    margin-bottom: 15px;
    text-align: left;
}

.input_group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input_group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-width: 400px;
}
.login_option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 8px;
}
.login_option div{
    display: flex;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.btn:hover {
    background-color: #0056b3;
}

.register_text{
    color: grey;
}
.wrong_container{
    color: red;
    font-size: 12px;
    visibility: hidden;
    text-align: right;
    margin-bottom: 10px;
}